<section class="simple-div">
    <div class="main-block">
        <div class="left-image-block">
            <img src="assets/bridge.png" alt="">
        </div>
        <div class="text-block">
            <h1>San-francisco Diaries</h1>
            <p class="paragraph">San Francisco is famous for its diverse events, blending culture, tech, and entertainment. Must-attend events include Dreamforce and TechCrunch Disrupt for tech enthusiasts, the Pride Parade, and the Chinese New Year Festival for cultural vibrancy. Outside Lands draws music lovers, while Eat Drink SF caters to foodies. These events highlight San Francisco's innovative and inclusive spirit, making them popular with locals and visitors alike.
            </p>
            <div class="down-buttons">
                <button>Tech and Innovation</button>
                <button>Music and Arts</button>
                <button>Food and Drinks</button>
                <button>cultural Celebrations</button>
            </div>
        </div>
    </div>
  </section>
  